<div class="view-levels">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 header">
        <%= link_to signed_in_root_path do %>
          <span class='glyphicon glyphicon-arrow-left'></span> Volver al inicio
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 title">
        <h1>Los niveles en Make it Real</h1>
      </div>

      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 container-levels">
        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelBlanco.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelBlanco@2x.png 2x" alt="Teclado Blanco">
          <span class="points-levels">0+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>


        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels current">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelAmarillo.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelAmarillo@2x.png 2x" alt="Teclado Amarillo">
          <span class="points-levels">1000+ pts.</span>
          <span class="current-points">Tienes 1500 pts.</span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>


        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelNaranja.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelNaranja@2x.png 2x" alt="Teclado Naranja">
          <span class="points-levels">3000+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-12 union-levels-vertical-right">

        </div>


        <div class="col-xs-12 col-sm-12 col-md-push-15 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelVerde.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelVerde@2x.png 2x" alt="Teclado Verde">
          <span class="points-levels">6000+ pts.</span>
          <span class="current-points"></span>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelAzul.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelAzul@2x.png 2x" alt="Teclado Azul">
          <span class="points-levels">9500+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>


        <div class="col-xs-12 col-sm-12 col-md-pull-15 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelPurpura.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelPurpura@2x.png 2x" alt="Teclado Púrpura">
          <span class="points-levels">13000+ pts.</span>
          <span class="current-points"></span>
        </div>


        

        <div class="col-xs-6 col-sm-6 col-md-12 union-levels-vertical-left">
          
        </div>


        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelCafe.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelCafe@2x.png 2x" alt="Teclado Café">
          <span class="points-levels">16500+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelRojo.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelRojo@2x.png 2x" alt="Teclado Rojo">
          <span class="points-levels">21000+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-15 union-levels">
        </div>


        <div class="col-xs-12 col-sm-12 col-md-15 badge-levels">
          <img class="img-responsive" src="https://s3.amazonaws.com/makeitreal/levels/nivelNegro.png" srcset="https://s3.amazonaws.com/makeitreal/levels/nivelNegro@2x.png 2x" alt="Teclado Negro">
          <span class="points-levels">26000+ pts.</span>
          <span class="current-points"></span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 profile-link">
          <a href="">Ver perfil</a>
        </div>
          


      </div>


    </div>
  </div>
</div>